<!DOCTYPE html>
<html lang="{{ site.locale }}">
 <head>
  <meta charset="UTF-8">
  <title>{{ title }} | Md Mehedi Hasan Tuhin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
 </head>

  <body>
    {% include page-header.html %}

    <section class="main-content">
      
      {{ content }}
     
    </section>
    <footer class="site-footer">
     <span class="site-footer-owner">copyright &copy; 2021 Md. Mehedi Hasan Tuhin</span>
    </footer>
   
  </body>
</html>
